{% extends "base.html" %}

{% block content %}
      {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
<div class="alert alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
</div>
      {% endfor %}
    {% endif %}
    {% endwith %}

  <div class="page-header">
    <h2 align="center">Browse the data by:</h2>
  </div>
  {% block page_content %}
  {{ left_sidebar() }}
  <div class="col-md-10">
    <div class="col-md-4">
      <div class="panel panel-default">
	<div class="panel-heading">  <a href ="{{url_for('main.users_list')}}">User name</a>
	</div>
	<div class="panel-body"> Browse the registered users
	</div>
      </div> 
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
	<div class="panel-heading">  <a href ="{{url_for('main.categories_list')}}">Dataset category</a>
	</div>
	<div class="panel-body"> Browse by category
	</div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
	<div class="panel-heading"> <a href ="{{url_for('main.keywords_list')}}">Keyword</a>
	</div>
	<div class="panel-body"> Browse by keyword
	</div>
      </div> 
    </div>
  </div>
{% endblock %}
{% endblock %}

